<html>
<head>
<title>forgetpassword</title>
</head>
<body>
<form action="/forgetpassword" method="post">
<input type="email" placeholder="enter your email" name="email">
<input type="submit" value="submit">
</form>
</body>
</html>